h1{
  text-align: center;
  height: 200px;
  width: 200px;
  background:gray;
  font-size: 200px;
  display: flex ;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

button{
  height: 50px;
  width:120px ;
  margin-left: 50px;
  border-radius: 20px;
  font-size: 18px;
}